---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="grid items-center xl:grid-cols-12 xl:grid-rows-12 xl:h-screen">
		<aside class="m-7 xl:col-span-3 xl:h-full h-fit xl:bg-fixed xl:align-middle border rounded-lg border-black dark:border-white">
			<img src="./src/assets/images/DanielAristizabalGarcia.jpg" alt="">
		</aside>
		<div class="xl:col-span-7 border rounded-lg border-black dark:border-white">
		</div>
	</main>
</Layout>

<style>
</style>
