---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="min-h-screen flex flex-col lg:flex-row lg:space-x-4">
    <div
      class="lg:w-1/4 max-w-md mx-auto lg:max-w-full lg:sticky lg:top-0 lg:min-h-screen lg:flex lg:items-center"
    >
      <section
        class="w-full bg-white dark:bg-gray-900 shadow-lg rounded-3xl p-6 mb-4 lg:mb-0 lg:h-fit lg:space-y-4"
      >
        <div class="flex flex-col items-center space-y-4">
          <h1 class="text-4xl font-bold text-gray-800 dark:text-white">Daniel</h1>
          <p class="text-gray-600 dark:text-gray-300 text-center">
            Software Developer
          </p>
        </div>

        <img
          class="rounded-3xl mx-auto mt-6 h-[280px] w-[220px] object-cover"
          src="/assets/images/DanielAristizabalGarci.jpg"
          alt="Daniel Aristizabal"
        />

        <div class="mt-8 text-center">
          <a
            href="mailto:danidag516@gmail.com"
            class="text-gray-900 dark:text-white font-semibold hover:underline"
          >
            danidag516@gmail.com
          </a>
        </div>

        <div class="flex justify-center space-x-4 mt-6"></div>

        <div class="mt-8 text-center">
          <button
            class="w-full max-w-xs bg-gray-900 dark:bg-gray-800 text-white text-lg font-semibold py-3 rounded-lg hover:bg-gray-800 dark:hover:bg-gray-700"
          >
            Contact Me
          </button>
        </div>
      </section>
    </div>

    <section
      class="w-full lg:w-3/4 p-6 mt-10 lg:mt-0 lg:min-h-screen lg:overflow-y-auto"
    >
      <p class="text-sm border rounded-lg w-fit px-3 py-1 flex items-center">
        <svg
          class="w-[15px] h-[15px] text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Home
      </p>
      <h2 class="text-2xl font-bold text-center text-gray-800 dark:text-white mb-4">About</h2>
      <p class="text-gray-600 dark:text-gray-400 text-center">
        I'm a person who loves to grow and acquire new knowledge. I am
        passionate about turning dreams into reality. Let's imagine and create
        together!
      </p>
    </section>
  </main>
</Layout>
